@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(44% 0.11 240.79);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: #fa9b7e;
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(21% 0.034 264.665);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(96% 0.001 286.375);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(98% 0 0);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(97% 0 0);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.033 256.848);
  --color-base-200: oklch(37% 0.034 259.733);
  --color-base-300: oklch(44% 0.03 256.802);
  --color-base-content: oklch(82.901% 0.031 222.959);
  --color-primary: oklch(50% 0.134 242.749);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: #fa9b7e;
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(21% 0.034 264.665);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(96% 0.001 286.375);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(98% 0 0);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(97% 0 0);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@import "animate.css";

h1 {
  @apply font-bold text-4xl text-center;
}

.home-banner {
  @apply font-semibold text-4xl p-4;
}

.active {
  @apply font-extrabold bg-primary-content/80 text-primary;
}
